@import "../../styles/variables.scss";

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
.bg {
  background-color: $color-neutral-black;
  height: 100vh;
  width: 100vw;

  .body,
  .mask {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .newPrinciplesMobile {
      display: none;
      visibility: hidden;
    }
  }
  .mask {
    mask-image: url("../../public/mask.svg");
    background-color: $color-orange-primary;
    mask-repeat: no-repeat;
    mask-size: 40px;
    position: absolute;
  }

  @media (max-width: 997px) {
    .mask {
      display: none;
      .newPrinciples,
      .newRealities {
        width: 300px;
        height: 300px;
      }
    }
    .body {
      .bodyMobile {
        position: relative;
        .newPrinciplesMobile {
          display: block;
          visibility: visible;
          width: 300px;
          height: 300px;
          position: absolute;
          top: 0;

          @include keyframes(fadeReverse) {
            0%,
            30% {
              opacity: 0;
            }
            40%,
            60% {
              opacity: 1;
            }

            70%,
            100% {
              opacity: 0;
            }
          }
          @include animate(fadeReverse, 5s, ease-in, 1000);
        }
        .newRealities {
          width: 300px;
          height: 300px;
          @include keyframes(fade) {
            0%,
            30% {
              opacity: 1;
            }
            40%,
            60% {
              opacity: 0;
            }

            70%,
            100% {
              opacity: 1;
            }
          }
          @include animate(fade, 5s, ease-in, 1000);
        }
      }
    }
  }
}
