@import "../../styles/variables.scss";

.section {
  height: 100vh;
  overflow: hidden;

  .container {
    height: 300vh;
    width: 100vw;
    position: relative;
    background-color: $color-neutral-black;
    .stickyMask {
      //overflow: hidden;
      //display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      mask-image: url("../../public/images/star.svg");
      mask-position: 52.35% center;
      mask-repeat: no-repeat;
      mask-size: 50%;
      //position: sticky;
      top: 0;
      left: 0;

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 20;
      }
    }
  }
}
